<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test CRM Suite ">
    <listeners>
        <listener class-name="com.utilities.TestListener"/>
    </listeners>
<!--   <test name="Google Accounts Test">-->
<!--      <classes>-->
<!--         <class name="com.crm.GoogleAccounts.CreateGoogleAccountTest" />-->
<!--         <class name="com.crm.GoogleAccounts.UpdateGoogleAccount" />-->
<!--         <class name="com.crm.GoogleAccounts.CreateAndOrderTableSettingsTest" />-->
<!--         <class name="com.crm.GoogleAccounts.DownloadCSV" />-->
<!--         <class name="com.crm.GoogleAccounts.Search" />-->
<!--         <class name="com.crm.GoogleAccounts.DeleteTableSettings" />-->
<!--         <class name="com.crm.GoogleAccounts.FindAndDeleteGoogleAccountTest" />-->
<!--      </classes>-->
<!--  </test>-->

<!--<test name="Dash Card Test">-->
<!--      <classes>-->
<!--         <class name="com.crm.Dashboard.TestDashboardRedirectCard" />-->
<!--         <class name="com.crm.Dashboard.TestDashboardSearch" />-->
<!--          <class name="com.crm.Dashboard.GetDasboardUrls" />-->
<!--      </classes>-->
<!--  </test>-->

<!--      <test name="Download CSV Accounts Test">-->
<!--      <classes>-->
<!--         <class name="com.crm.FacebookAccounts.DownloadCSV" />-->
<!--         <class name="com.crm.OtherAccounts.DownloadCSV" />-->
<!--         <class name="com.crm.GoogleAccounts.DownloadCSV" />-->
<!--      </classes>-->
<!--    </test>-->

<!--    <test name="SG TableSettings Test">-->
<!--        <classes>-->
<!--            <class name="com.crm.SGCampaigns.CreateAndOrderTableSettingsTest" />-->
<!--            <class name="com.crm.SGCampaigns.DeleteTableSettingsTest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Proxy Source Test">-->
<!--        <classes>-->
<!--            <class name="com.crm.ProxySource.CreateAccountProxySourceTest" />-->
<!--            <class name="com.crm.ProxySource.DeleteAccountProxySourceTest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Google V2 Test">-->
<!--        <classes>-->
<!--            <class name="com.crm.GoogleAccounts.CreateTableSettingsOtherGoogleTest" />-->
<!--            <class name="com.crm.GoogleAccounts.DeleteTableSettingsOtherGoogleTest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Facebook Accounts Test">-->
<!--          <classes>-->
<!--             <class name="com.crm.FacebookAccounts.CreateFacebookAccountTest" />-->
<!--              <class name="com.crm.FacebookAccounts.UpdateFacebookAccountTest" />-->
<!--              <class name="com.crm.FacebookAccounts.DownloadCSVFacebookTest" />-->
<!--              <class name="com.crm.FacebookAccounts.CreateAndOrderTableSettingsTest" />-->
<!--              <class name="com.crm.FacebookAccounts.FilterFBTest" />-->
<!--              <class name="com.crm.FacebookAccounts.DeleteTableSettingsTest" />-->
<!--              <class name="com.crm.FacebookAccounts.FindAndDeleteFacebookAccountTest" />-->
<!--        </classes>-->
<!--    </test>-->

    <test name="SG Campaigns Test">
        <classes>
            <class name="com.crm.SGCampaigns.CreateAndOrderTableSettingsTest" />
            <class name="com.crm.SGCampaigns.CreateTableSettingsPerOfferTest" />
            <class name="com.crm.SGCampaigns.DownloadCSVTest" />
            <class name="com.crm.SGCampaigns.DownloadCSVPerOfferTest" />
            <class name="com.crm.SGCampaigns.SearchSGTest" />
            <class name="com.crm.SGCampaigns.SGFilterTest" />
            <class name="com.crm.SGCampaigns.DeleteTableSettingsTest" />
            <class name="com.crm.SGCampaigns.DeleteSettingsPerOfferTest" />
        </classes>
    </test>

    <test name="Batch Accounts Test">
        <classes>
            <class name="com.crm.BatchAccounts.CreateAndOrderTableSettingsTest" />
            <class name="com.crm.BatchAccounts.CreateAccountBatchTest" />
            <class name="com.crm.BatchAccounts.UpdateBatchAccountTest" />
            <class name="com.crm.BatchAccounts.FindAndDeleteBatchAccountTest" />
            <class name="com.crm.BatchAccounts.DeleteTableSettingsTest" />
        </classes>
    </test>
</suite>