<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test CRM AUTO">
   <test name="Google Accounts Test">
      <classes>
         <class name="com.crm.GoogleAccounts.CreateGoogleAccount" />
         <class name="com.crm.GoogleAccounts.UpdateGoogleAccount" />
         <class name="com.crm.GoogleAccounts.CreateAndOrderTableSettings" />
         <class name="com.crm.GoogleAccounts.DownloadCSV" />
         <class name="com.crm.GoogleAccounts.Search" />
         <class name="com.crm.GoogleAccounts.DeleteTableSettings" />
         <class name="com.crm.GoogleAccounts.FindAndDeleteGoogleAccountTest" />
      </classes>
  </test>

   <!-- <test name="Dash Card Test">
      <classes>
         <class name="com.crm.Dashboard.TestDashboardRedirectCard" />
         <class name="com.crm.Dashboard.TestDashboardRedirectCard" />
      </classes>
   </test> -->

   <!-- <test name="Batch Account Test">
      <classes>
         <class name="com.crm.BatchAccounts.CreateAndOrderTableSettings" />
         <class name="com.crm.BatchAccounts.DeleteTableSettings" />
      </classes>
   </test> -->

<!--      <test name="Download CSV Accounts Test">-->
<!--      <classes>-->
<!--         <class name="com.crm.FacebookAccounts.DownloadCSV" />-->
<!--         <class name="com.crm.OtherAccounts.DownloadCSV" />-->
<!--         <class name="com.crm.GoogleAccounts.DownloadCSV" />-->
<!--      </classes>-->
   <!-- </test> -->
   </suite>
