<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <!-- <test name="Google Accounts Test">
      <classes>
         <class name="com.crm.GoogleAccounts.CreateGoogleAccount" />
         <class name="com.crm.GoogleAccounts.UpdateGoogleAccount" />
         <class name="com.crm.GoogleAccounts.CreateAndOrderTableSettings" />
         <class name="com.crm.GoogleAccounts.DownloadCSV" />
         <class name="com.crm.GoogleAccounts.Filter" />
         <class name="com.crm.GoogleAccounts.Search" />
         <class name="com.crm.GoogleAccounts.DeleteTableSettings" />
         <class name="com.crm.GoogleAccounts.FindAndDeleteGoogleAccountTest" />
      </classes>
   </test> -->

   <test name="column Test">
      <classes>
         <class name="com.crm.ClientTest.SpendAndTotalSpendTest" />
      </classes>
   </test>
</suite>
